{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}Ask a question{% endblock %}

{% block search_description %}Query results{% endblock %}

{% block body_class %}template-search-results{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Ask a question</h1>
                    <form action="" method="get" class="navigation__search" role="search" hx-target="#search-results" hx-indicator="#search-results" hx-get>
                        <input class="navigation__search-input" id="question-input" type="text" placeholder="What do you want to know?" autocomplete="off" name="q">
                    </form>
                    <div id="search-results">
                        {% include 'search/includes/question_answer.html' %}
                    </div>
            </div>
        </div>
    </div>
{% endblock content %}
